* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

header{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 5px;
    background-color: rgb(230, 227, 227);
}

img{
    width: 130px;
}

button{
    margin-top: 10px;
}

h2, h3{
    margin-bottom: 10px;
}