<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <title>API Assistencia</title>
</head>
<body>
    <header>
        <img src="images/logo.png" alt="logo_marca">

        <h1> API Assistencia</h1>
        
        <nav>
            <h2>Menu</h2>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/clientes">Cadastro</a>
                </li>
            </ul>
        </nav>        
    </header>
    <table border="2">
        <tr>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Email</th>
            <th>Data de Criação</th>
            <th>Data de Edição</th>
            <th>Ação</th>
        </tr>

        {% for cliente in clientes %}
        <tr>
            <td>{{cliente.nome}}</td>
            <td>{{cliente.telefone}}</td>
            <td>{{cliente.email}}</td>
            <td>{{cliente.criado_em}}</td>
            <td>{{cliente.atualizado_em}}</td>
            <th>
                <a href="/clientes/editar/{{cliente.cliente_id}}"><input type="submit" value="Editar"></a>
                <a href="/clientes/excluir/{{cliente.cliente_id}}"><input type="submit" value="Excluir"></a>
            </th>
        </tr>
    {%endfor%}
    </table>
    <br/>
    {% if prev is not none%}
     <a href="{{prev}}">
            <input type="button" value="<<"/>
     </a>
    {% else %}
        <input type="button" value="<<" disabled/>
    {% endif %}

    <a href="{{prev}}">
        <input type="button" value="{{page}}/{{pages}}" disabled/>
    </a>

    {% if next is not none%}
     <a href="{{next}}">
            <input type="button" value=">>"/>
     </a>
    {% else %}
        <input type="button" value=">>" disabled/>
    {% endif %}

    <br/>
    <br/>
   <a href="/clientes/cadastrar">
       <input type="button" value="Criar novo cliente">
   </a>
</body>
</html>