<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <title>API Assistencia</title>
</head>
<body>
    <header>
        <img src="images/logo.png" alt="logo_marca">

        <h1> API Assistencia</h1>
        
        <nav>
            <h2>Menu</h2>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/clientes">Cadastro</a>
                </li>
            </ul>
        </nav>        
    </header>

    <h2> Exlcusão do cliente {{cliente.nome}}</h2>
    <form method="POST" action="/clientes/excluir/{{cliente.cliente_id}}">
        {% if delete is defined %}
            <input type="hidden" name="delete">
        {%endif%}

        <h3> Tem certeza que gostaria de exlcuir o cliente "{{cliente.nome}}"</h3>
        <button type="submit" value="Submit" >Sim</button>
        <a href="/clientes">
            <input type="button" value="Cancelar">
        </a>
    </form>
</body>
</html>